* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  max-width: 100vw;
  min-height: 100vh;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: #d7e1ec;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.pricing-card {
  width: 90rem;
  margin: 5rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  justify-items: center;
}

.pricing-card .card {
  background-color: #555;
  color: #fff;
  width: 100%;
  border-radius: 9px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5),
    inset -5px -5px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in;
}

.pricing-card .card:hover  {
  transform: scale(1.1);
}
.pricing-card .card:hover .card-header {
  color: #fff;
  text-shadow:0 0 2px #eee;
  transition: all 0.2s ease-in;
  transition-delay: 0.1s;
}
.pricing-card .card:hover .card-cost {
  color: #9acd32;
  text-shadow: 0 0 7px #a4d247;
  transition: all 0.3s ease-in;
}

.card .card-header {
  font-size: 2.4rem;
  text-align: center;
  padding: 1rem;
  background-color: #9acd32;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-top: 3px solid #a4d247;
  border-left: 3px solid #a4d247;
  border-right: 3px solid #a4d247;
  color: #555;
  transition: all 0.2s ease-in;
  transition-delay: 0.1s;
}

.card-cost {
  text-align: center;
  margin: 3.2rem 0 3.2rem 0;
  transition: all 0.3s ease-in;
}

.card-cost .price {
  font-size: 4.4rem;
}

.card-cost .time {
  font-size: 1.8rem;
  font-weight: 300;
}

.card .line-fold {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  padding: 0 3.8rem 3.2rem 3.8rem;
}

.card .line-fold .line {
  width: 100%;
  height: 0.5rem;
  background-color: #fff;
}

